<%= styleguide_block 'Button.Basic' do -%>
  <a class="$modifier_class">Example Button</a>
<% end -%>

<%= styleguide_extend_block "Button.Pattern.Unko", "Button.Basic" do -%>
  <a class="$modifier_class">Example Button</a>
<% end -%>
